<% @title = "Контакты" %>
<% content_for :head do %>
<script src="http://api-maps.yandex.ru/2.0/?load=package.standard&mode=debug&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    /* При успешной загрузке API выполняется
       соответствующая функция */
    ymaps.ready(function () {
       var myMap = new ymaps.Map("YMapsID", {
// Центр карты
center: [59.9160,30.3091],
// Коэффициент масштабирования
zoom: 16,
// Тип карты
type: "yandex#map"
}
);
    var myPlacemark = new ymaps.Placemark(
// Координаты метки
[59.9177,30.3081], {
    /* Свойства метки:
       - контент значка метки */
    iconContent: "",
    // - контент балуна метки
    balloonContent: "Красиво подано"
}, {
    /* Опции метки:
       - флаг перетаскивания метки */
    draggable: false,
    /* - показывать значок метки
       при открытии балуна */
    hideIconOnBalloonOpen: true
}
);

// Добавление метки на карту
myMap.geoObjects.add(myPlacemark);


    });
</script>
<% end %>

<div class="content">
  <div class="fotorama-container map">
    <div id="YMapsID" style="height: 750px;"></div>
  </div>
  <div class="container">

    <aside>
      <% unless @event.nil? %>
      <div class="event-info">
        <p>Кстати, у нас есть кое-что:</p>
        <p>
          <span class="strong">
            <% if @event.date %>
            <%= Russian::strftime(@event.date, "%d %B") if @event.date %> —
            <% end %>
            <%= @event.title %>
          </span>
        </p>
        <p>стоимость: <span class="strong"><%= @event.price %> <span class="b-rub">Р</span></span></p>
        <p><%= link_to "Подробнее", @event %></p>
      </div>
      <% end %>
      <%= render 'shared/vk_widget' %>
    </aside>

    <section class="event-main">
      <%= @text.html_safe %>
      <div class="buf"></div>
    </section>

    <div class="buf"></div>
  </div>

  <% unless @events.blank? %>
    <div class="blocks-bottom inner-page">
      <% @events.each do |event| %>
        <div class="block">
          <% unless event.front_images.blank? %>
            <%= link_to image_tag(event.front_images.first.image.url(:thumb)), event %>
          <% end %>
          <h2><%= event.title %></h2>
          <span class="blocks-date">
            <%= event_date_time(event, true) %><%= event.price %>
            <span class="b-rub">Р</span>
          </span>
          <p><%= event_duration(event) %></p>
          <p><%= event.shorttext %></p>
          <%= link_to "подробнее", event %>
          <% unless event.past? %>
            <%= order_link_normal(event) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>

</div>