<% content_for :head do %>
<script src="http://api-maps.yandex.ru/2.0/?load=package.standard&mode=debug&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    /* При успешной загрузке API выполняется
       соответствующая функция */
    ymaps.ready(function () { 
       var myMap = new ymaps.Map("YMapsID", {
// Центр карты
center: [59.9160,30.3091],
// Коэффициент масштабирования 
zoom: 16,
// Тип карты
type: "yandex#map"
}
);
    var myPlacemark = new ymaps.Placemark(
// Координаты метки
[59.9177,30.3081], {
    /* Свойства метки:
       - контент значка метки */
    iconContent: "",
    // - контент балуна метки
    balloonContent: "Красиво подано"
}, {
    /* Опции метки:
       - флаг перетаскивания метки */
    draggable: false,
    /* - показывать значок метки 
       при открытии балуна */
    hideIconOnBalloonOpen: true
}
);

// Добавление метки на карту
myMap.geoObjects.add(myPlacemark);
    
    
    });
</script>
<% end %>

<div class="content">
    <div class="fotorama-container map">
       <div id="YMapsID" style="height: 750px;"></div>
    </div>
    <div class="container">
	

		
		
        <aside>
			<% unless @event.nil? %>
            <div class="event-info">
                <p>
                    Кстати, у нас есть кое-что:
                </p>
                <p>
                    <span class="strong"><%= Russian::strftime(@event.date, "%d %B") %> — <%= @event.title %></span>
                </p>
                <p>
                    стоимость: <span class="strong"><%= @event.price %> <span class="b-rub">Р</span></span>
                </p>

                <p>
                    <%= link_to "Подробнее", @event %>
                </p>
            </div>
			<% end %>

			<script type="text/javascript" src="//vk.com/js/api/openapi.js?96"></script>

			<!-- VK Widget -->
			<div id="vk_groups"></div>
			<script type="text/javascript">
			VK.Widgets.Group("vk_groups", {mode: 0, wide: 1, width: "300", height: "330", color1: 'ffffe6', color2: '9b2021', color3: '9b2021'}, 51178669);
			</script>
        </aside>

		
		
        <section class="event-main">
            <h1>наш адрес — не дом и не улица!</h1>

            <h3>наш адрес:</h3>

            <p>
                Измайловский проспект, д. 2, офис 56, лестница №7 <br/>
				Вход через кафе "Галата". Домофон №19
            </p>

            <h3>Телефон для связи:</h3>
            <p>
                812 942-67-52 
            </p>


			<h3>Наша почта:</h3>
            <p>
                по любым вопросам - <a href="mailto:info@krasivopodano.ru">info@krasivopodano.ru</a><br/>
				по вопросам рекламы - <a href="mailto:pr@krasivopodano.ru">pr@krasivopodano.ru</a><br/>
				есть вопрос к мастер-шефу - <a href="mailto:master@krasivopodano.ru">master@krasivopodano.ru</a><br/>
				нужна фудсъемка - <a href="mailto:mail@krasivopodano.ru">mail@krasivopodano.ru</a><br/>
            </p>
            

            <h3>скайп для связи:</h3>

            <a href="skype:krasivopodano">krasivopodano</a>

            <div class="buf"></div>
            <h3 class="back-info">в крайнем случае,
            <br />
            не обламывайтесь, и..</h3>

            <a class="comments read button-back" href="#"><span>Напишите нам здесь!</span></a>
        </section>
        <div class="buf"></div>
    </div>
	<% unless @events.blank? %>
    <div class="blocks-bottom inner-page">
		<% @events.each do |event| %>
        <div class="block">
			<% unless event.front_images.blank? %>
            <%= link_to image_tag(event.front_images.first.image.url(:thumb)), event %>
			<% end %>
            <h2><%= event.title %></h2>
            <span class="blocks-date"><%= Russian::strftime(event.date, "%d %B") %> | <%= event.price %> <span class="b-rub">Р</span></span>
            <p>
                <%= event.shorttext %>
            </p>
            <%= link_to "подробнее", event %>
        </div>
		<% end %>
    </div>
    <% end %>
</div>
