<% content_for :head do %>
<meta name='yandex-verification' content='751d5d2b5ce252fc' />
<% end %>
<div class="content"> 
	<%= render 'shared/slider' %>
  <!-- ПРЕДСТОЯЩИЕ СОБЫТИЯ -->
  <% unless @future.blank? %>
  	<div class="blocks-main">
  		<h1><%= link_to "Предстоящие события", future_events_path %></h1>
  	</div>	
    <%= render 'elements', :events => @future %>
	<% end %>
  <!-- НАШИ КУРСЫ -->
	<% unless @courses.blank? %>
  	<div class="blocks-main">
  		<h1><%= link_to "Наши курсы", courses_path %></h1>
  	</div>	
    <%= render 'elements', :events => @courses %>
	<% end %>
  <!-- ПРОШЕДШИЕ СОБЫТИЯ -->
	<% unless @past.blank? %>
  	<div class="blocks-main">
  		<h1><%= link_to "Прошедшие события", past_events_path %></h1>
  	</div>
    <%= render 'elements', :events => @past %>
	<% end %>	
</div>