<div class="content">
 <div class="fotorama-container main-page">
        <div class="fotorama" data-width="100%" data-height="610" data-aspectRatio="1.5"
        data-minHeight="610" data-fitToWindowHeight="true" data-fitToWindowHeightMargin="0" data-margin="0"
        data-nav="none" data-shadows="false" data-cropToFit="true">
		<% @main.each do |event| %>
		<% unless event.front_images.blank? %>
        <div class="slide" style="background:url(<%= event.front_images.first.image.url(:medium) %>);">
            <div class="slide-content" style="margin-top: -140px;">
                <div class="container">
                    <div class="slide-buttons" style="padding-top: 125px;">
						<%= appointment_link(event) %> <%= order_link(event) %>
                    </div>
                    <div class="slide-text">
                        <h2><%= event.title %></h2>
                        <span class="slide-date"><%= Russian::strftime(event.date, "%d %B") %><% if event.eventdetails? %>: 
						<%= event.eventdetails %>
						<% end %>
						</span>
                        <p><%= event.shorttext %></p>
						<%= link_to "подробнее", event, :class => 'button-blue' %>
                    </div>
                </div>
            </div>
        </div>
		<% end %>
  	    <% end %>
    </div>
</div>
    <% unless @future.blank? %>
	<div class="blocks-main">
		<h1><%= link_to "Предстоящие события", future_events_path %></h1>
	</div>	
    <div class="blocks-main">
		<% @future.each do |event| %>
        <div class="block">
			<% unless event.front_images.blank? %>
			<%= link_to image_tag(event.front_images.first.image.url(:thumb)), event %>
			<% end %>
            <h2><%= event.title %></h2>
            <span class="blocks-date"><%= Russian::strftime(event.date, "%d %B") %> | <%= event.price %> <span class="b-rub">Р</span></span>
            <p><%= event.shorttext %></p>
            <%= link_to "подробнее", event %>
        </div>
		<% end %>	
    </div>
	<% end %>

	<% unless @past.blank? %>
	<div class="blocks-main">
		<h1><%= link_to "Прошедшие события", past_events_path %></h1>
	</div>
    <div class="blocks-main">
		<% @past.each do |event| %>
        <div class="block">
			<% unless event.front_images.blank? %>
            <%= link_to image_tag(event.front_images.first.image.url(:thumb)), event %>
			<% end %>
            <h2><%= event.title %></h2>
            <span class="blocks-date"><%= Russian::strftime(event.date, "%d %B") %> | <%= event.price %> <span class="b-rub">Р</span></span>
            <p><%= event.shorttext %></p>
            <%= link_to "подробнее", event %>
        </div>
		<% end %>
    </div>
	<% end %>
	
	
</div>

