<%= render 'layouts/header' %>
<div class="content">
 <div class="fotorama-container main-page">
        <div class="fotorama" data-width="100%" data-height="750" data-aspectRatio="1.5"
        data-minHeight="750" data-fitToWindowHeight="true" data-fitToWindowHeightMargin="0" data-margin="0"
        data-shadows="false" data-cropToFit="true">
		<% @main.each do |event| %>
        <div class="slide" style="background:url(<%= event.image.url(:medium) %>);">
            <div class="slide-content">
                <div class="container">
                    <div class="slide-buttons">
                        <a href="#" class="button-blue">я пойду!</a>
                        <br />
                        <a href="#">15 человек уже записались</a>
                        <a class="comments read" href="#"><span>15 комментариев</span></a>
                        <a class="comments write" href="#"><span>комментировать</span></a>
                    </div>
                    <div class="slide-text">
                        <h2><%= event.title %></h2>
                        <span class="slide-date"><%= event.date %></span>
                        <p><%= event.text %></p>
                        <a href="#" class="button-blue active">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
  	<% end %>
    </div>
</div>
    <div class="blocks-main">
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
    </div>
    <div class="blocks-bottom">
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>
        <div class="block">
            <a href="#"><img src="assets/demo1.jpg" alt="" /></a>
            <h2>«Готовим с удовольствием» — курс для начинающих кулинаров.</h2>
            <span class="blocks-date">5 апреля 16:00 | 1500 <span class="b-rub">Р</span></span>
            <p>
                В своей основе курс рассчитан для начинающих кулинаров. Научиться готовить может каждый.
            </p>
            <a href="#">Подробнее</a>
        </div>

    </div>
</div>