<%= redactor_lang('ru') %>

<%= semantic_form_for [:admin, @event], :html => {:multipart => true}	 do |f| %>

<%= f.inputs t('properties') do %>

<%= f.input :title %>
<%= f.input :duration %>
<%= f.input :property, :as => :select, :collection => Event::PROPERTIES.map { |a| [ t(a), a ] }, :include_blank => false %>
<%= f.input :published %>
<%= f.input :price %>
<%= f.input :date %>
<%= f.input :shorttext, :input_html => { :rows => 1  } %>
<%= f.input :eventdetails, :input_html => { :rows => 1  } %>
<%= f.input :text, input_html: { class: "redactor" }, :label => false  %>
<%= f.input :main %>
<% end %>

<%= f.inputs t('buttons') do %>
<%= f.input :filled %>
<%= f.input :want_more %>
<% end %>

<%= f.inputs t('album') do %>
<%= f.input :album_id, :as => :select, :collection => Album.all, :label => false %>
<% end %>

<%= f.inputs t('event_type') do %>
<%= f.input :event_type_id, :as => :select, :collection => EventType.all, :label => false %>
<% end %>

<%= f.inputs 'SEO' do %>
<%= f.input :seo_url %>
<%= f.input :html_title %>
<%= f.input :meta_description,      :input_html => { :rows => 4 } %>
<%= f.input :front_images, input_html: {class: 'hidden'} %>
<% end %>


<% unless action?('new') %>
<fieldset class="inputs"><legend><span>Изображения для слайдера</span></legend>
<div id="album_photos" style="margin-left: 25px;">
	<% @event.front_images.each do |image| %>
	<div class="album_element" id="<%= image.id %>" onMouseOut="$(this).children('.image_caption').hide();" onmouseover="$(this).children('.image_caption').show();">
	<div class="image_caption" style="display: none;">
	<% unless action?('copy') %>
		<%= link_to 'Удалить', admin_front_image_path(image),
		            :confirm => 'Вы уверены?', :method => :delete, :class => 'image_destroy', :remote => true %>
	<% end %>
	</div>
	<%= image_tag image.image.url(:admin), :class => 'album__image', :id => image.id %>
	</div>
	<% end %>

</div>
</fieldset>

<%= f.inputs t('more_images') do %>
<div style="margin-left: 25px;">


<%= file_field_tag("event_front_images_image", multiple: true, name: "event[front_images_attributes][][image]") %>
<%= f.submit 'Загрузить изображения', :name => 'preview_button' %>


</div>
<% end %>
<% end %>

<% unless @event.new_record? %>
<%= link_to "Предпросмотр", event_path(@event), :target => "_blank" %>
<% end %>

<fieldset class="actions">
<ol>
<li><%= f.submit 'Сохранить и продолжить', :name => 'preview_button' %></li>
<li><%= f.submit 'Сохранить и закрыть' %></li>
<li><%= button_to "Отмена", admin_events_path, :html => { "data-method" => "get" } %></li>
</ol>
</fieldset>

<% end %>




