<div class="content">
  <div class="container" style="margin-top: 200px; margin-bottom: 50px; min-height: 400px;">
	<div class="text-page">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <div>Электронная почта:<br />
  	<%= f.email_field :email, :autofocus => true  %></div>
	<div class="field_error"><%= f.object.errors[:email].first %></div>
	<br/>
  <div>Пароль:<br />
  <%= f.password_field :password %>
	<div class="field_error"><%= f.object.errors[:password].first %></div></div>
	<br/>
  <div><%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %></div>
<div class="field_error"><%= f.object.errors[:password_confirmation].first %></div></div>
  <div><%= f.submit "Зарегистрироваться", :class => 'auth_button' %></div>
<% end %>

</div>
</div>
</div>
