<% @articles.each do |article| %>
<div class="blog-element">
    <h1><%= article.title %></h1>
	<div class="blog_date"><%= if article.date.nil? then Russian::strftime(Time.now, "%d %B %Y %H:%M") else Russian::strftime(article.date, "%d %B %Y %H:%M") end %></div>
    <div class="blog_text"><%= truncate(strip_tags(article.text), length: 350).html_safe %></div>
	<div class="read_more"><%= link_to "Читать дальше", article_path(article) %></div>
	<%= image_tag('after_article.png', :class => 'after_article') %>
</div>
<% end %>