<%= semantic_form_for [:admin, @album], :html => {:multipart => true} do |f| %>
<%= f.inputs t('properties') do %>
   <%= f.input :title %>
   <%= f.input :text, :input_html => { :rows => 12  } %>
<% end %>


<fieldset class="inputs"><legend><span>Изображения</span></legend>
<div style="margin-left: 25px;">
<% @album.photos.each do |photo| %>

<div class="album_element">
<div class="image_caption">
	<%= link_to 'X', admin_album_photo_path(@album, photo),
	            :confirm => 'Are you sure?', :method => :delete, :class => 'image_destroy' %>
</div>
<%= image_tag photo.image.url(:thumb), :class => 'album__image' %>
</div>



<% end %>

</div>
</fieldset>

<%= f.inputs t('more_images') do %>
<div style="margin-left: 25px;">
<%= file_field_tag("album_photos_image", multiple: true, name: "album[photos_attributes][][image]") %>
</div>
<% end %>
	

<fieldset class="actions">
<ol>
<li><%= f.submit 'Изменить', :name => 'preview_button' %></li>
<li><%= f.submit 'Сохранить' %></li>
</ol>
</fieldset>
<% end %>