<%= semantic_form_for [:admin, @album], :html => {:multipart => true} do |f| %>
<%= f.inputs t('properties') do %>
   <%= f.input :title %>
   <%= f.input :text %>
<% end %>


<fieldset class="inputs"><legend><span>Изображения</span></legend>
<div style="margin-left: 25px;">
<% @album.photos.each do |photo| %>
<%= image_tag photo.image.url(:thumb), :class => 'album__image' %>
<% end %>
</div>
</fieldset>

<%= f.inputs t('more_images') do %>
<div style="margin-left: 25px;">
<%= file_field_tag("album_photos_image", multiple: true, name: "album[photos_attributes][][image]") %>
</div>
<% end %>
	
<%= f.actions :submit %>
<% end %>