<table width="700px;" border="0" cellpadding="5" cellspacing="0">
  <tr>
	<td style="width: 20%"><a href="http://krasivopodano.ru"><img src="http://krasivopodano.ru/assets/logo.png" alt="logo"></a></td>
    <td class="header-text" style="width: 50%">Красиво подано — это самая настоящая кулинарная школа. <br/> Только ходить в нее можно, когда захочется.</td>
    <td class="header-contacts" style="width: 30%">
	  <span class="phones">812 942 67 52</span>
      <br />
      <a href="http://krasivopodano.ru/contacts">карта проезда</a>
      <br />
      <a href="http://krasivopodano.ru/future">все события школы</a>
    </td>
  </tr>
  <tr>
	<td colspan="3" class="heading">
				<%= image_tag('tape-left.png')%>
      	<span class="heading-text">Предстоящие события</span>
				<%= image_tag('tape-right.png')%>
    </td>
  </tr>
  <tr class="events_row">
	<% @events.limit(3).each_with_index do |event, index| %>
    <td class="block <%= if index == 1 then "with_borders" end %>">
    <% unless event.front_images.blank? %>
    <%= link_to image_tag(event.front_images.first.image.url(:email_small)), event_url(event), :class => 'event_img' %>
	  <% end %>
    <h2><%= event.title %></h2>
    <span class="blocks-date">
	  <% unless event.property == "course" %>
	  <%= Russian::strftime(event.date, "%d %B") %> | 
	  <% end %>
	  <%= event.price %> <span class="b-rub">Р</span></span>
    <p><%= event.shorttext %></p>
    <%= link_to "подробнее", event_url(event), :class => 'block-link' %>
    </td>
	<% end %>
	</tr>
	<tr>
		<td colspan="3" style="text-align: right;">
			<%= link_to "Еще события", future_events_url, :class => 'more' %>
		</td>
	</tr>
	<td colspan="3" class="heading" style="padding-left: 100px; margin-top: 30px;">
				<%= image_tag('tape-left.png')%>
      	<span class="heading-text">Наши курсы</span>
				<%= image_tag('tape-right.png')%>
    </td>
  </tr>
	<tr class="events_row">
	<% @courses.limit(3).each_with_index do |event, index| %>
    <td class="block <%= if index == 1 then "with_borders" end %>">
    <% unless event.front_images.blank? %>
    <%= link_to image_tag(event.front_images.first.image.url(:email_small)), event_url(event), :class => 'event_img' %>
	  <% end %>
    <h2><%= event.title %></h2>
    <span class="blocks-date">
	  <% unless event.property == "course" %>
	  <%= Russian::strftime(event.date, "%d %B") %> | 
	  <% end %>
	  <%= event.price %> <span class="b-rub">Р</span></span>
    <p><%= event.shorttext %></p>
    <%= link_to "подробнее", event_url(event), :class => 'block-link' %>
    </td>
	<% end %>
  </tr>
  <tr>
		<td colspan="3" class="more_row">
			<%= link_to "Еще курсы", courses_url, :class => 'more' %>
		</td>
	</tr>
  <tr>
    <td colspan="3" class="heading" style="padding-left: 150px; margin-top: 30px;">
				<%= image_tag('tape-left.png')%>
      	<span class="heading-text">Рецепт</span>
				<%= image_tag('tape-right.png')%>
    </td>
  </tr>
  <!-- <tr>
    <td colspan="3" class="recipe">
        <h2><%= @recipe.title %><h2>
        <%= link_to image_tag(@recipe.image.url(:mail_big)), recipe_url(@recipe) %>
        <%= link_to "подробнее", recipe_url(@recipe), :class => 'block-link' %>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="more_row">
      <%= link_to "Еще рецепты", recipes_url, :class => 'more' %>
    </td>
  </tr> -->
</table>