<p>Добрый день!</p>

<p>Совершена запись на мероприятие:<p>
	
<p>
	Имя: <%= @firstname %></br></br>
	Фамилия: <%= @lastname %></br></br>
	Телефон: <%= @phone %></br></br>
	Мероприятие: <%= @event %></br>
<p>
				
<p>Желаем удачи!</p>

<%= link_to "krasivopodano.ru", "krasivopodano.ru" %>