<div class="blue appointment_popup"></div>
  <div class="form appointment_popup">
    <a href="#" class="close"></a>
    <div class="service-info">
      <div class="form-head" style="margin-bottom: 20px;">
        <h2>Укажите детали заказа:</h2>
      </div>
    </div>
    	<%= form_for @appointment, :remote => true do |f| %>
      	<%= f.hidden_field :event_id %>
      	<div class="form-line">
          <label>Ваше имя:</label>
          <%= f.text_field :firstname %>
        </div>
      	<div class="form-line">
          <label>Ваша фамилия:</label>
          <%= f.text_field :lastname %>
        </div>
      	<div>Стоимость МК для одного человека:
      	  <b id="event_price"></b><b>руб.</b>
      	</div>
      	<br />
      	<div class="form-line">
          <label>Телефон для связи:</label>
          <%= f.text_field :phone %>
          <%= f.email_field :email %>
        </div>
      	<div style="color: red; margin-top: 10px;" id="appointment_notice"></div>
      	<br />
      	<div><%= f.submit "Записаться", :class => 'auth_button' %></div>
    	<% end %>	
  </div>    
</div>