<div class="blue appointment_popup"></div>
<div class="form appointment_popup">
  <a href="#" class="close"></a>

    <div class="service-info">
      <div class="form-head" style="margin-bottom: 20px;">
        <h2>Укажите детали заказа:</h2>
      </div>
    </div>
	
	<%= form_for @appointment do |f| %>
	<%= f.hidden_field :event_id %>
	  <div>Сколько человек пойдет:
	  <%= f.number_field :people, :min => 0 %></div>
	  <br />
	  <div>Телефон для связи:
	  <%= f.text_field :phone %></div>
	  <br />
	  <div>Ваш комментарий:
	  <%= f.text_area :comment %></div>
	  <br />
	  <div><%= f.submit "Записаться", :class => 'auth_button' %></div>
	<% end %>	
  </div>
    
</div>