<div class="blue appointment_popup"></div>
<div class="form appointment_popup">
  <a href="#" class="close"></a>

    <div class="service-info">
      <div class="form-head" style="margin-bottom: 20px;">
        <h2>Укажите детали заказа:</h2>
      </div>
    </div>
	
	<%= form_for @appointment do |f| %>
	<%= f.hidden_field :event_id %>
	  
	  <% if user_signed_in? && current_user.name?  %>
	  <div>Ваше имя:
	  <b><%= current_user.name %></b></div>
	  <br />
	  <% end %>
	
	  <div>Стоимость МК для одного человека:
	  <b id="event_price"></b><b>руб.</b></div>
	  <br />
	
	  <div>Сколько человек пойдет:
	  <%= f.text_field :people, :class => 'numbers' %></div>
	  <br />
	  
	  <div class="form-line">
      <label>Телефон для связи:</label>
      <%= f.text_field :phone %>
      </div>
	  
	  <div>Ваш комментарий:
	  <%= f.text_area :comment %></div>
	  <br />
	  <div><%= f.submit "Записаться", :class => 'auth_button' %></div>
	<% end %>	
  </div>
    
</div>