<header class="b2b_header">
    <div class="container">
        <div class="links">
            <a href="/">школа</a>
        </div>
        <nav class="header-menu">
            <span><%= nav_link "фуд-студия", b2b_food_path %></span>
			<span><%= nav_link "портфолио", b2b_portfolio_path %></span>
			<span><%= nav_link "кейтеринг", b2b_catering_path %></span>
			<span><%= nav_link "стоимость", b2b_price_path %></span>
			<span><%= nav_link "контакты", b2b_contacts_path %></span>
			<span><%= nav_link "кулинарная школа", "#" %></span>
        </nav>     
</header>