<footer>
    <div class="container" id="footer">

        <div class="footer-menu">
            <nav>
				<%= link_to "кулинарная школа", "/", :class => (unless b2b? then 'section active' else 'section' end)  %>
                <ul>
                    <li>
                       <%= link_to "о школе", school_path, :class => ('active' if controller?("static_pages") && action?("school")) %>
                    </li>
                    <li>
                        <%= link_to "расписание", future_events_path, :class => ('active' if controller?("events") && action?("future")) %>
                    </li>
                    <li>
                        <%= link_to "что преподаем", services_path, :class => ('active' if controller?("static_pages") && action?("services")) %>
                    </li>
                    <li>
                        <a href="#" class="order_popup_link">записаться на урок</a>
                    </li>
                    <li>
                        <%= link_to "рецепты", recipes_path, :class => ('active' if controller?("recipes") && action?("index", "show")) %>
                    </li>
					<li>
                        <%= link_to "вакансии школы", vacancy_path, :class => ('active' if controller?("static_pages") && action?("vacancy")) %>
                    </li>
                    <li>
                        <%= link_to "контакты", contacts_path, :class => ('active' if controller?("static_pages") && action?("contacts")) %>
                    </li>
                </ul>
            </nav>
            <nav>
				<%= link_to "фуд-студия и кейтеринг", "/b2b/food", :class => (if b2b? then 'section active' else 'section' end)  %>
                <ul>
                    <li>
                        <%= nav_link "фуд-студия", b2b_food_path %>
                    </li>
                    <li>
                        <%= nav_link "портфолио", b2b_portfolio_path %>
                    </li>
                    <li>
                        <%= nav_link "кейтеринг", b2b_catering_path %>
                    </li>
                    <li>
                        <%= nav_link "стоимость услуг", b2b_price_path %>
                    </li>
                    <li>
                        <%= nav_link "контакты", b2b_contacts_path %>
                    </li>
                </ul>
            </nav>
        </div>
        <a href="/"><img src="/assets/footer-logo.png" alt="" /></a>
        <div class="social">
            <a rel="vk" href="http://vk.com/krasivopodano" onclick="return !window.open(this.href)"><img src="/assets/vk.png" /></a>
            <a rel="fb" href="https://www.facebook.com/krasivopodano" onclick="return !window.open(this.href)"><img src="/assets/fb.png" /></a>
            <a rel="tw" href="https://twitter.com/krasivo_podano" onclick="return !window.open(this.href)"><img src="/assets/tw.png" /></a>
        </div>
        <div class="buf"></div>
        <div class="footer-contact">
            <span>812 942 67 52</span>
            <br />
            <a href="/contacts">Измайловский, 2</a>
        </div>
        <div class="copy">
            <%= Time.now.year %> © студия вкусноты «Красиво подано», все права защищены
            <br />
            вы имеете право хранить молчание, всё что вы скажете может быть приготовлено в супе
        </div>
    </div>
</footer>