<div class="blue subscription_popup"></div>
<div class="form subscription_popup">
  <a href="#" class="close"></a>

    <div class="service-info">
      <div class="form-head" style="margin-bottom: 20px;">
        <h2>Подписка на уведомление по почте:</h2>
      </div>
    </div>
	
	<%= form_for @subscription, url: subscriptions_subscribe_path, :remote => true do |f| %>
	
	  <div class="form-line" style="margin-top: 40px;">
      <label>Ваш email:</label>
      <%= f.text_field :email %>
      </div>
	
	  <div class="form-line">
      <span class="myCheck subscription_check">
      <%= f.check_box :events %>
      </span>
      <label>МК</label>
      </div>

	  <div class="form-line">
      <span class="myCheck subscription_check">
      <%= f.check_box :articles %>
      </span>
      <label>Блог</label>
      </div>
	
	
	  <div style="color: red; margin-top: 0px;" id="subscription_notice1"></div>
	  <div style="color: red; margin-top: 10px;" id="subscription_notice"></div>
	  

	  <br />
	  <div><%= f.submit "Записаться", :class => 'auth_button'  %></div>
	<% end %>	
  </div>
    
</div>

<div id="subscribed" class="form" style="text-aling: center; color: white; width: 400px; margin-left: -250px;"><h1>Вы успешно подписались!</h1></div>