<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="keywords" content="школа" /> 
<meta name="description" content="кулинарная школа, кулинарная студия, кулинарная студия спб, кулинарная школа спб, кулинарная школа в Санкт-Петербурге, кулинарная студия в Санкт-Петербурге, кулинарные мастер классы, мастер классы по кулинарии, кулинарные курсы, курсы по кулинарии, курсы по кулинарии в санкт-петербурге, курсы для поваров, поварские курсы, школа поваров, обучение кулинарии" />
  <!--[if lt IE 9]>
  <script>
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('footer');
  </script>
  <![endif]-->
<%= yield :head %>
</head>
<body>
<% if notice %>
<div id="notice">
<%= render :partial => 'layouts/notice', :flash => flash %>
</div>
<% end %>
<%= render :partial => 'layouts/appointment_form', :locals => { :@appointment => Appointment.new } %>
<%= render 'layouts/auth_form' %>
<% if b2b? %>
<%= render 'layouts/b2b_header' %>
<% else %>
<%= render 'layouts/header' %>
<% end %>
<%= yield %>
<%= render :partial => 'layouts/order_form', :locals => { :@order => Order.new, :@events => Event.all } %>
<%= render 'layouts/footer' %>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter21148093 = new Ya.Metrika({id:21148093,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21148093" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- Yandex.Metrika counter -->
</body>
</html>
