<!DOCTYPE html>
<html>
<head>
  <title>Krasivo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script>
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('footer');
  </script>
  <![endif]-->
<%= yield :head %>
</head>
<body>
<%= render :partial => 'layouts/order_form', :locals => { :@order => Order.new, :@events => Event.all } %>
<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
