<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
<meta name="keywords" content="школа" /> 
<meta name="description" content="<%= meta_description %>" />
  <!--[if lt IE 9]>
  <script>
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('footer');
  </script>
  <![endif]-->
<%= yield :head %>
</head>
<body>
<% if notice %>
<div id="notice">
<%= render :partial => 'layouts/notice', :flash => flash %>
</div>
<% end %>
<%= render :partial => 'layouts/appointment_form', :locals => { :@appointment => Appointment.new } %>
<%= render :partial => 'layouts/subscription_form', :locals => { :@subscription => Subscription.new } %>
<%= render 'layouts/auth_form' %>
<% if b2b? %>
<%= render 'layouts/b2b_header' %>
<% else %>
<%= render 'layouts/header' %>
<% end %>
<%= yield %>
<%= render :partial => 'layouts/order_form', :locals => { :@order => Order.new, :@events => Event.all } %>
<%= render 'layouts/footer' %>

<script type='text/javascript'> /* build:::7 */
var liveTex = true,
liveTexID = 57351,
liveTex_object = true;
(function() {
var lt = document.createElement('script');
lt.type ='text/javascript';
lt.async = true;
lt.src = 'http://cs15.livetex.ru/js/client.js';
var sc = document.getElementsByTagName('script')[0];
if ( sc ) sc.parentNode.insertBefore(lt, sc);
else document.documentElement.firstChild.appendChild(lt);
})();
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter21148093 = new Ya.Metrika({id:21148093,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21148093" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- Yandex.Metrika counter -->
</body>
</html>
